@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
@import url('navbar.css');
:root{
  font-family: 'Roboto Condensed', sans-serif;
}

*{  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 ::-webkit-scrollbar {
   width:0px;
 }

body{
  overflow-x: hidden;
  overflow-y: visible;
}

h1 {
  font-size: 4em;
  color: hsl(0, 0%, 100%);
}


.parralax-background {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  text-align: center;
}

.parralax-background img {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  z-index: -1;
}

.parralax-background > h1 {
  margin: 20px;
  text-align: center;
}

#gunung1 {
  transform: scale(1.5) translateX(-20px) translateY(50px);
}

#gunung2 {
  transform: scale(1.4) translateX(-20px) translateY(-320px);
}

.artikelIsi{
  opacity: 0;
}

.teksMuncul{
  animation: teksMuncul 1s ease forwards;
}

@keyframes teksMuncul {
  from{
    opacity: 0%;
    transform: translateY(20px);
  }
  to {
    opacity: 100%;
  }
}

@keyframes teksHilang {
  from{
    opacity: 100%;
  }
  to {
    opacity: 0%;
    transform: translateY(20px);
  }
}
.content-wrapper{
  width: 90%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content-wrapper > .content-title {
  height: 20vh;
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-wrapper {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}

.card-content {
  position: relative;
  width: 30%;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

@keyframes cardHilang {
  from{
    opacity: 1;
    
  }
  to{
    opacity: 0;
  }
}


@keyframes cardMuncul {
  from{
    opacity: 0;
    transform: translateY(20px);
  }
  to{
    opacity: 1;
  }
}

.card-content img{
  position: relative;
  height: 200px;
  width: 200px;
  z-index: 1;
  object-fit: contain;
}

.card-content > img::hover{
  height: 220px;
  width: 220px;
}
.content h2 {
  letter-spacing: 3px;
  color: rgb(19, 55, 70);
}
.content-title > h2 {
  
  font-family: 'Nunito', sans-serif;
  color: hsl(0, 0%, 100%);
}

@media screen and (max-width:768px) {
.card-wrapper{
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

}

.animHeader{
  animation: teksMuncul 2s ease forwards;
}

